
.itemBlockContainer {
    display: flex;
    height: 100vh;
}

.itemBlock {
    margin: -12px 0 0 19px;
    width: 282px;
    background: #EBECF0;
    border-radius: 10px; 
}

.inputBlock {
    display: flex;
    flex-direction: column;
}

.titleStyle {
    margin-top: 12px;
    margin-left: 12px;
}

.listStyle {
    list-style-type: none;
}

.listItemStyle {
    padding-left: 0;
    margin: 0 auto;
    position: relative;
}

.inputBlock {
    display: flex;
}

.taskStyle {
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 258px;
    min-height: 35px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding-top: 10px;
}

.taskStyleBlock:hover {
    background: #DEDEDE;
    cursor: pointer;
}

.taskText {
    position: relative;
    left: 13px;
    bottom: 6px;
}

.dropDown {
    margin-top: -37px;
    margin-left: 31px;
    width: 258px;
    background: white;
    border-radius: 5px;
    position: relative;
}

.footer {
    display: flex;
    background: #0067A3;
    height: 55px;
    color: white;
    margin-top: -94px;
}

.footerContent {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.tasksCounter {
    display: flex;
    justify-content: space-between;
    width: 252px;
}