.buttonStyle {
    background: #EBECF0;
    border: 0;
    border-radius: 10px;
    width: 77px;
    margin: 0 0 8px 6px;
    outline: none;
}

.buttonText {
    transition: 0.5s;
    color: #5E6C84;
    cursor: pointer;
}

.buttonText:hover {
    color: black;
}