.contentContayner {
    width: 1348px;
    height: 602px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: -672px;
    margin-top: 70px;
    position: relative;
    z-index: 10;
}

/* .title {
    margin-left: 23px;
} */

.titleStyle {
    font-size: 24px;
    line-height: 28px;
}

.taskColumn {
    margin-left: 24px;
    padding: 0;
    list-style-type: none
}

.task {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 12px;
    width: 258px;
    min-height: 35px;
    background: white;
    border-radius: 50px;
    border: none;
    padding-top: 10px;
    transition: 0.5s;
    padding-left: 13px;
}

.task:hover {
    background: #EBECF0;
}

.description {
    margin-left: 14px;
    width: 621px;
}

.descriptionContainer {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 500px;
    margin-top: 8px;
    margin-bottom: -168px;
    background-color: white;
    position: relative;
    margin-left: 17px;
    font-size: 18px;
    line-height: 21px;
}

.btnContayner {
    margin-right: 27px;
    margin-top: 8px;
}

.removeInfoBtn {
    cursor: pointer;
    width: 32px;
    margin-top: 18px;
}

.titleBlock {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
}

